/*
 * Commonly Referenced Variables
 *
 */

$fn-gotham   = "Gotham Rounded", "Avenir Next", sans-serif
$fn-proxima  = "Proxima Nova", proxima-nova, sans-serif
$fn-chapparl = "Chapparal Pro", Georgia, serif

$c-green  = #4CC85E
$c-orange = #F69434
$c-navy   = #394C60

$bp-sm = 480px
$bp-md = 960px
$bp-lg = 1280px
$bp-xl = 1440px

$gr-padding = 20px